* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}

.hero {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    position: sticky;
    top: 0px;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    padding: 2em;
    width: 40%;
}

nav {
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 1em;
    background-color: #FFC5C3;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
    text-align: center;
    margin: .5vw;
    padding: 2em;
    font-size: 1.2vw;
}

header img{
    width: 6vw;
}

header h1 {
    font-size: 2.5vw;
    padding-left: 2vw;
}

a:link {
    text-decoration: none;
    color: #444;
}

a:visited {
    color: #444;
}

body {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70px;
}

.texto {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: fixed;
    left: 22.5%;
    right: 22.5%;
    top: 50%;
    justify-content: center;
    align-items: center;
    color: #333;
}

.texto h2{
    font-size: 4vw;
    text-align: center;
    padding-bottom: 3vw;
}

.texto h4{
    font-size: 1.4vw;
    text-align: center;
    padding-bottom: 2%;
}